.l-header{
    @include full();
    @include display(flex);
    @include flex-direction(row);
    @include justify-content(center);
    background: $red;
    @include padding;
    
    // back button and logo
    &__backBtn,
    &__logo{
        @include align-self(center);
    }

    // back button
    &__backBtn{
        @include span(1 no-gutters);
    }

    .svg-icon{
        fill: $white; 
    }
    
    // logo
    &__logo{
        @include span(11 no-gutters);
        height: auto;
        @include allan-bold;
        @include font-style(40px, $black); // $font-size, $color, $line-height(optional)
        text-align: center;
    }
}
