.l-content{
    @include display(flex); 
    @include flex-direction(column);
    @include align-items(center);
}

.section{
    @include flex(1);
    padding: $padding;
    text-align: left;

    &__title{
        @include allan-normal;
        @include font-style(28px, $violet); // $font-size, $color, $line-height(optional)
    }

    &__copy{
        @include fallback-normal;
        @include font-style(16px, $indigo, 24px); // $font-size, $color, $line-height(optional)
    }
}