$container-width: 1200px;


// susy settings
$susy: (
    flow: ltr,                              // ltr | rtl
    output: float,                          // float | isolate
    math: fluid,                            // fluid | static (requires column-width)
    column-width: false,                    // false | value
    container: $container-width,            // length or % | auto
    container-position: center,             // left | center | right | <length> [*2] (grid padding)
    last-flow: to,                          // to | from
    columns: 12,
    gutters: .1,
    gutter-position: inside-static(20px),   // before | after | split | inside | inside-static (requires column-width)
    global-box-sizing: border-box,          // content-box | border-box (affects inside/inside-static)
    // debug: (
    //     image: show,
    //     color: rgba(#66f, .25),
    //     output: background, // background | overlay
    //     toggle: top left,
    // ),
);

// gallery configurations
$gallery-layout: layout( 12 .125 fluid float inside-static(20px) );

// gallery - 2 columns
@mixin gallery-2 {
    @include with-layout($gallery-layout);    
    @include gallery(6);
}

// gallery - 3 columns
@mixin gallery-3 {
    @include with-layout($gallery-layout);    
    @include gallery(4);
}

// gallery - 4 columns
@mixin gallery-4 {
    @include with-layout($gallery-layout);    
    @include gallery(3);
}

// gallery - 6 columns
@mixin gallery-6 {
    @include with-layout($gallery-layout);    
    @include gallery(2);
}


// breakpoint settings
$small: 0 500px;
$medium: 501px 767px;
$large: 768px 959px;
$xlarge: 960px;
$all-small: $small, $medium;
$all-large: $large, $xlarge;



// 100% full width (mobile)
@mixin m-full-width{
    width: 100% !important;   
    margin: 0em !important;
}
