// 1. variables
// 2. colors
// 3. fonts
// 4. mixins


// ***** 1. variables *****
$padding: 20px;


// ***** 2. colors -- Name that color: http://chir.ag/projects/name-that-color/ *****
$white: #fff;
$gray: #808080;
$black: #000;

$red: #ff0000;
$orange: #ff681f;
$yellow: #ffff00;
$green: #00ff00;
$blue: #0000ff;
$indigo: #4f69c6;
$violet: #991199;


// ***** 3. fonts *****
$fontPath: "/fonts";
$fallback: Helvetica, Arial, sans-serif;
$allan: 'Allan', cursive;

@mixin font($family, $weight, $style) {
    font-family: $family;
    font-weight: $weight;
    font-style: $style;
}

@mixin font-style($font-size, $color, $line-height: normal){
    font-size: $font-size;
    line-height: $line-height;
    color: $color;
}

// Convert Photoshop tracking to CSS letter-spacing -- http://blog.joshcairney.com/post/36896165521/convert-photoshop-tracking-to-css-letter-spacing
// Do not use 'px' w/ $font-size and $tracking
@mixin letter-spacing($font-size, $tracking) {
    letter-spacing: (($font-size * $tracking) / 1000) * 1px;
}

// standard web font
@mixin fallback-normal{
    @include font($fallback, normal, normal); //$family, $weight, $style
}

@mixin fallback-bold{
    @include font($fallback, bold, normal); //$family, $weight, $style
}

@mixin fallback-italic {
    @include font($fallback, normal, italic); //$family, $weight, $style
}

@mixin fallback-bold-italic {
    @include font($fallback, bold, italic); //$family, $weight, $style
}

// Allan
@mixin allan-normal {
    @include font($allan, 400, normal); //$family, $weight, $style
}

@font-face {
    @include allan-normal;
    src: url('#{$fontPath}/Allan/allan-v7-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Allan'), local('Allan-Regular'),
        url('#{$fontPath}/Allan/allan-v7-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$fontPath}/Allan/allan-v7-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
        url('#{$fontPath}/Allan/allan-v7-latin-regular.woff') format('woff'), /* Modern Browsers */
        url('#{$fontPath}/Allan/allan-v7-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
        url('#{$fontPath}/Allan/allan-v7-latin-regular.svg#Allan') format('svg'); /* Legacy iOS */
}

@mixin allan-bold {
    @include font($allan, 700, normal); //$family, $weight, $style
}

@font-face {
    @include allan-bold;
    src: url('#{$fontPath}/Allan/allan-v7-latin-700.eot'); /* IE9 Compat Modes */
    src: local('Allan Bold'), local('Allan-Bold'),
        url('#{$fontPath}/Allan/allan-v7-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
        url('#{$fontPath}/Allan/allan-v7-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
        url('#{$fontPath}/Allan/allan-v7-latin-700.woff') format('woff'), /* Modern Browsers */
        url('#{$fontPath}/Allan/allan-v7-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
        url('#{$fontPath}/Allan/allan-v7-latin-700.svg#Allan') format('svg'); /* Legacy iOS */
}

// ***** 4. mixins *****

@mixin padding {
    padding-top: $padding;
    padding-bottom: $padding;
}

